<!DOCTYPE html>
<html>
  <head>
    <base href="http://localhost:8888/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cloud Inspector" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cloud Inspector" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>    
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Cloud Adviser</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Ajinkya Bhagat <span class="caret"></span></a>
                    </li>
                    <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                </ul>
            </div>
        </div>
        <!-- /container -->
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <!-- Left Nevigation Bar -->
          <%= render 'layouts/navigation' %>
          <!-- Left Nevigation Bar -->
        </div>

        <div class="col-sm-10">
          <div class = "panel panel-default">
             
              <%= render 'layouts/messages' %>
              <%= yield %>
             </div>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
